.padding{
    padding-top: 160px;
}
.split{
    display: flex;
}
.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.move-left{
    padding-right: 200px;
}

.addy{
    padding-left:50px ;
}
.phone{
    padding-right: 150px;
}
.email-p{
    padding-left: 40px;
}