.Navbar-container{
    background-color: #424242;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    width:100%;
}
.pay-portal-avalibility{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.Navbar-logo img{
    height: 7rem;
}
.Navbar-settings img{
    height: 3rem;
    padding-right: 2rem;
}